body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
  color-adjust: exact !important; /*Firefox*/
  image-rendering: crisp-edges;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  width: 100vw;

  padding: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@page {
  size: 6in 9in;
  margin: 0mm;
}

body {
  font-family: "Computer Modern Serif", serif;
}

@media print {
  div.page {
    page-break-after: always;
  }
}
